@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
}
#title{
    margin: 25px auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background: #1B244A;
    max-width: 300px;
    border-radius: 20px;
    color: white;
    padding: 10px;
    letter-spacing: 3px;
    border: 8px solid #F94F6D;
}
#board{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    max-width: 500px;
    max-height: auto;
    margin: 10px auto;
    background: #1B244A;
    border-radius: 20px;
    border: 8px solid #F94F6D;
}
.board-view{
    margin: auto;
}
.board-title{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0 25px 0 25px;
    margin-top: 10px;
    letter-spacing: 3px;
}
.board-score{
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    text-align: center;
    margin: 10px;
    letter-spacing: 3px;
    color: #F94F6D;
}
.btns{
    text-align: center;
    padding: 10px 0 10px 0;
    margin: auto;
}
.btn{
    color: #9AABD8;
    background: inherit;
    font-weight: bold;
    font-size: 25px;
    margin: 0 5px;
    text-align: center;
    padding: 10px;
    border: 5px solid #F94F6D;
    border-radius: 10px;
}
.reset{
    margin: 20px auto;
    width: 450px;
}
